.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.app-stores {
    display: flex;
    align-items: center; /* Center app stores vertically */
}

.app-stores img {
    width: 150px; /* -- market place icons size -- */
    margin-right: 1rem;
    cursor: pointer;
}