

/* Shrink logo size */
.logo-img {
    width: 200px; /* Adjust the size as needed */
    height: auto;
  }

/* Shrink logo size */
.p_logo-img {
  width: 35px; /* Adjust the size as needed */
  height: auto;
}
