/* App.css */

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.accordion__title {
    font-size: 1.2rem;
    font-weight: bold;
}

.accordion__faq {
    margin-top: 20px;
}

.accordion__faq-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.accordion__faq-heading h3 {
    margin: 0;
}

.accordion__faq-heading .verticle,
.accordion__faq-heading .horizental {
    font-size: 1.5rem;
}

.accordion__faq div {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.inactive {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.active {
    max-height: 1000px; /* Adjust as needed */
    opacity: 1;
    overflow: visible;
}
