* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #2B74A8;
    --second-color: #3FA9F5;
    --text-color: #444;
    --gradient: linear-gradient(#2B74A8, #3FA9F5);
}
/* arranging items within a container */
.navbar {
    display: flex; 
}
/* selects the list items within the navbar */
.navbar li {
    position: relative;
}
/* Edit navbar design style */
.navbar a {
    font-size: 1rem;
    /* adds spacing around the text within the links. */
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
/* create an underline animation effect when hovering over the links */
.navbar a::after {
    content: ""; 
    width: 0; /* creating the initial underline effect starting point */
    height: 3px;  /* height of the underline */ 
    background: var(--gradient); /* background color of the underline  */
    position: absolute; /* position of the underline relative to text */
    bottom: -4px; /* positions below text */
    left: 0;/* aligns the underline to the left edge */
    transition: 0.5s; /* smoothens the width change over 0.5 seconds, creating the animation effect */
}
/* navbar hovering animation */
.navbar a:hover::after{
    width: 100%; /* hover over a link, it causes the underline (pseudo-element) to expand to 100% width */
}

/* ID selector for an element with the ID "menu-icon."  */
#menu-icon{
    font-size: 24px;
/* navbar animation when hovering on buttons */
    cursor: pointer;
    z-index: 10001;
/* Hide list tab icon */
    display: none;
}

/* Positioning the nav bar */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 100px;
}

/* Sign-in and Sign-up button styles */
.header-btn {
    display: flex;
    gap: 1rem;
  }
  
  .header-btn a {
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 500;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    color: var(--main-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
   /* Sign-in button hover animation color */
  .header-btn a:hover {
    background-color: var(--main-color);
    color: white;
}
  
  .header-btn a:hover::after {
    width: 100%;
}
  
/* sign-in button box color*/
.header-btn .sign-up{
    background: #474fa8;
    color: #fff;
}



.ride-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.ride-container .box {
    text-align: center;
    padding: 20px;
}

.ride-container .box .bx {
    font-size: 34px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 0.5rem;
    color: var(--main-color);
}

.ride-container .box h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}

.ride-container .box .bx:hover,
.ride-container .bx .bxs-calendar-check {
    background: var(--gradient);
    color: #fff;
}




