/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Signika:wght@300..700&display=swap');

/* @import */
/* CSS rules to specify families */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

:root {
  --main-color: #2B74A8;
  --second-color: #3FA9F5;
  --text-color: #444;
  --gradient: linear-gradient(#2B74A8, #3FA9F5);
}

/* Modern neutral scrollbar for both light & dark themes */
::-webkit-scrollbar {
  width: 0.5rem;
  background: transparent;
  /* track is invisible */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.863);
  /* neutral gray */
  border-radius: 5rem;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.815);
  /* subtle fade on hover */
}

.mapboxgl-popup-content {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

.mapboxgl-popup-tip {
  display: none !important;
}