/* SearchMenu.css */

.form-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 4rem;
  left: 100px;
  /*background: #fff;*/
  padding: 20px;
  border-radius: 0.5rem;
}

  
  .input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
  }
  
  .input-box span {
    font-weight: 500;
  }
  
  .input-box input {
    padding: 7px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  
  .filter-dropdown select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    margin-right: 8px;
  }
  
  /* applied to the button within your form container */
  .form-container form button {
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: #474fa0;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
  }
  
  /* hover effect for the button */
  .form-container form button:hover {
    background: var(--main-color); /* Define --main-color in your CSS variables */
  }
  
  /* Style for the Refine search filter dropdown container */
  .search-container {
    display: flex;
    align-items: center;
  }
  