/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); /* @import */
/* CSS rules to specify families */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #2B74A8;
    --second-color: #3FA9F5;
    --text-color: #444;
    --gradient: linear-gradient(#2B74A8, #3FA9F5);
}

/* Custom Scroll Bar */
html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

section {
    padding: 50px 100px;
}

/* -- <span> Color selected for text </span> -- */
.text span {
    color: #3FA9F5;
}

.text p {
    margin: 00.5rem 0 1rem;
}

.app-stores {
    display: flex;
}

.app-stores img {
    width: 135px; /* -- market place icons size -- */
    margin-right: 1rem;
    cursor: pointer;
}

/* -- Positioning Calendar -- */
.form-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 4rem;
    left: 100px;
    background: #fff;
    padding: 20px;
    border-radius: 0.5rem;
}

.input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}

.input-box span {
    font-weight: 500;
}

.input-box input {
    padding: 7px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;
}


/* applied to the button within your form container */
.form-container form .btn {
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: #474fa0;
    color: #fff;
    font-size: 1rem;
    font-weight: 500
}

/* hover effect for the button */
.form-container form .btn:hover {
    background: var(--main-color);
}

.heading {
    text-align: center;
}

.heading span {
    font-weight: 500;
    text-transform: uppercase;
}

.heading h1 {
    font-size: 2rem;
}

.ride-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.ride-container .box {
    text-align: center;
    padding: 20px;
}

.ride-container .box .bx {
    font-size: 34px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 0.5rem;
    color: var(--main-color);
}

.ride-container .box h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}

.ride-container .box .bx:hover,
.ride-container .bx .bxs-calendar-check {
    background: var(--gradient);
    color: #fff;
}

/* Style for the Refine search filter dropdown container */
.search-container {
    display: flex;
    align-items: center;
}

/* Style for the filter dropdown */
.filter-dropdown select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    margin-right: 8px;
}

=
=
=
=
=
=
=
}
>>> >>> > e1fc9d1d657c15933dc8d7f4278cdd47cd419ea1
