body {
  background-color: aliceblue;
  margin: 0;
}

.home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url("../src/img/new_home.png"); /* -- Banner image -- */
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.text h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
}
