/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); /* @import */
/* CSS rules to specify families */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
:root {
    --main-color: #fe5b3d;
    --second-color: #ffac38;
    --text-color: #444;
    --gradient: linear-gradient(#fe5b3d, #ffac38);
}
/* Custom Scroll Bar */
html::-webkit-scrollbar {
    width: 0.5rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}
section {
    padding: 50px 100px;
}
/* Positioning the nav bar */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 100px;
}
/* Shrink logo size */
.logo img {
    width: 40px;
}
/* Shrinking the navbar strip */
.navbar {
    display: flex;
}
.navbar li {
    position: relative;
}
/* Edit navbar */
.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a::after {
    content: "";
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
/* navbar hovering animation */
.navbar a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
/* navbar animation when hovering on buttons */
    cursor: pointer;
    z-index: 10001;
/* Hide list tab icon */
    display: none;
}
/* editing navbar sign-in/up buttons padding and fonts */
.header-btn a{
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
/* sign-in button box */
.header-btn .sign-in{
    background: #474fa8;
    color: #fff;
    border-radius: 0.5rem;
}
/* sign-in button box animation */
.header-btn .sign-in:hover{
    background: var(--main-color);
}
